/* FONT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
    background: #ffe600;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -5px 3px 0px #bdbdbd;
}

header h1 {
    font-size: 26px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 25px;
    font-weight: 500;
}
nav a:hover,
nav a.active {
    border-bottom: 2px solid rgb(255, 174, 0);
    font-weight: 700;
}

/* CONTAINER KARTU */
.container {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    
}

/* CARD */
.card {
    width: 260px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 6px 0px #bdbdbd;
    text-align: center;
    transition: 0.2s;

}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 150px;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 3px 3px 3px 1px #adacac;
}

.card h3 {
    margin-top: 10px;
    font-weight: 700;
}

.lokasi {
    font-size: 13px;
    margin-bottom: 15px;
    color: #555;
}

/* BUTTON */
button {
    background: #ffe600;
    border: none;
    padding: 10px 20px;
    width: 80%;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: #ffd900;
}
