* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #e6e6e6;
}

/* HEADER */
header {
    background: #ff6a00;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 26px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-weight: 500;
}

nav a.active {
    font-weight: 900;
}

/* CONTAINER */
.container {
    padding: 30px;
}

/* ORDER CARD */
.order-card {
    position: relative;
    background: white;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

/* DOUBLE BACKGROUND */
.order-card::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
    width: 98%;
    height: 14px;
    background: #cfcfcf;
    border-radius: 0 0 15px 15px;
    z-index: -1;
}

/* LEFT SIDE */
.left {
    display: flex;
    gap: 15px;
}

.left img {
    width: 120px;
    height: 110px;
    border-radius: 8px;
    object-fit: cover;
}

/* TEXT INFO */
.info .resto {
    font-size: 12px;
    margin-bottom: 5px;
}

.info h2 {
    font-size: 22px;
    font-weight: 900;
}

.qty {
    margin-top: 5px;
    font-weight: 700;
}

/* RIGHT SIDE */
.right {
    text-align: right;
}

.right h3 {
    font-size: 22px;
    font-weight: 700;
}

.total {
    margin-top: 5px;
    font-size: 14px;
}

.total span {
    font-weight: 700;
    margin-left: 10px;
}

/* BUTTON */
.btn-box {
    margin-top: 12px;
}

button {
    padding: 6px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.nilai {
    background: white;
    border: 1px solid black;
}

.pesan {
    background: #ff6a00;
    color: white;
    border: none;
    margin-left: 10px;
}
