* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}   

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0;
    text-align: center;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding-bottom: 3px;
    position: relative;
    display: inline-block;
}

/* Garis bawah menggunakan pseudo-element */
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #ffd700;
    transition: width 0.3s ease;
}

/* Saat hover garis akan muncul */
nav a:hover::after {
    width: 100%;
}
nav a.active {
    font-weight: 900;
    color: #ffffff;
}
.hero {
    position: relative;
    height: 100vh;
    background: url("KHAS NUSANTARA (2).png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.content {
    position: relative;
    z-index: 2;
}

.content h1 {
    font-family:  "Roboto", sans-serif;
    font-size: 55px;
    font-weight: 900;
    margin-bottom: 3px;
    margin-top: -30px;
    text-transform: uppercase;
    letter-spacing: -1px;
}


/* Search box */
.search-box {
    margin-top: -100px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.141);
    border-radius: 50px;
    padding: 9px 350px;
    max-width: 500px;
    margin: 0 auto;
}

.search-box .fa-solid.fa-magnifying-glass {
    color: #ffffff;
    margin-left: -330px;
}


.search-box input {
    flex: 1;
    border: none;
    outline: none;
    margin-left: 10px;
    margin-right: 5px;
    background: transparent;
    font-size: 16px;
    color: #ffffff;
    padding-right: 360px;
}

.search-box button {
    background: #fff;
    border: none;
    color: #000000;
    font-weight: bold;
    padding: 8px 28px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: px;
    transition: all 0.3s ease;
}

.search-box button:hover {
    background: #ffcc00;
    color: #000;
}



/* Responsif */
@media (max-width: 768px) {
    .content h1 {
    font-size: 2.5rem;
    }

    .search-box {
        flex-direction: column;
        gap: 10px;
        border-radius: 25px;
    }

    .search-box button {
        width: 100%;
    }
}
